body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-image: url("../img/homeBackground.jpg") !important;
  color: white;
  background-size: cover;
  
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.social-media-boxes {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes the icons to the right */
  margin-right: 10px; /* Adds a small margin to the left side of the icons */
}

.social-media-boxes .box {
  margin-right: 10px; /* Adds spacing between the social media icons */
}

.button {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

/* Logo */
.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo img {
  width: 300px; /* Adjust the width as needed */
}

/* Main Content */
.content {
  padding-top: 0;
  text-align: center;
  margin-bottom: 100px;
}

.social-media-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-media {
  font-size: 15px;
  margin-top: 10px;
}

.box {
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 50px;
}

.box img {
  width: 40px; /* Adjust the width as needed */
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #222;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-top: auto;
  flex-shrink: 0;
}

footer p {
  color: #eee;
  font-size: 16px;
  margin: 0 auto; /* Add this line to center the text */
  max-width: 60%; /* Add this line to limit the width of the text */
}

footer a {
  color: #eee;
  font-size: 14px;
  font-weight: 900;
}

footer a:hover {
  color: #ff0000;
}


.picture-container {
  text-align: center;
  margin-top: 40px;
  background-color: #f57931;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

.picture-container p {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: bold;
  color: #f5c131;
  background-color: #000000;
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.picture-container img {
  width: 70%;
  max-width: 400px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.picture-container img:hover {
  transform: scale(1.3);
}

.picture-container button {
  display: block;
  margin: 30px auto;
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.picture-container button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .picture-container {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
  }
  
  .picture-container p {
    font-size: 24px;
  }
  
  .picture-container img {
    width: 90%;
    max-width: 300px;
    height: auto;
  }
  
  .picture-container button {
    font-size: 16px;
    padding: 10px 20px;
  }
}



.button1 {
  border: none;
  font-size: 17px;
  padding: 1em 2em;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
  background: #caf0f8;
  border-radius: 8px;
  box-shadow: 2px 2px 0 #333, 2px 2px 200px #ffba08 inset;
  color: #000000;
}

.button1:active {
  transform: scale(.98);
}

.button1:hover {
  box-shadow: 2px 2px 0 #333, 2px 2px 200px #003566 inset;
}

.button1::before {
  content: '';
  position: absolute;
  left: -41%;
  width: 150%;
  height: 300%;
  border-radius: 50%;
  box-shadow: 2px 2px 0 #333, 0 0 0 8px #d00000 inset, 0 0 0 16px #dc2f02 inset, 0 0 0 24px #e85d04 inset, 0 0 0 32px #f48c06 inset, 0 0 0 40px #faa307 inset;
  z-index: -1;
  transition: .2s;
}

.button1:active::before {
  opacity: .001;
  box-shadow: 2px 2px 200px #03045e inset;
}

.button1:hover::before {
  box-shadow: 2px 2px 0 #333, 0 0 0 8px #90e0ef inset, 0 0 0 16px #48cae4 inset, 0 0 0 24px #00b4d8 inset, 0 0 0 32px #0096c7 inset, 0 0 0 40px #0077b6 inset;
  left: -9%;
  width: 150%;
  height: 300%;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .logo img {
    width: 200px;
  }

  .content {
    padding-top: 120px;
  }

  .social-media-boxes {
    margin-top: 20px;
  }

  .box {
    width: 150px;
  }

  footer p {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .logo img {
    width: 150px;
  }

  .content {
    padding-top: 80px;
  }

  .social-media-boxes {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 120px;
    margin-bottom: 10px;
  }

  footer p {
    width: 100%;
  }
}
@media (max-width: 1258px) {
  body {
    background-image: url("../img/backgroundPhone.jpg") !important;
    min-height: 100vh;
  }
  .picture-container img {
    width: 80%;
    height: auto;
  }
}
